.device-single-card
  .e-card
    %h1.h2= t("devise.confirmations.new.resend_confirmation_instructions")
    .e-card__main
      = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'devise-form' }) do |f|
        - if f.object.errors.present?
          .error_notification_wrapper
            = f.error_notification
            = f.full_error :confirmation_token
        .form-inputs
          = f.input :email, required: true, autofocus: true
        .form-actions
          = f.button :submit, t("devise.confirmations.new.resend_confirmation_instructions")
      = render "devise/shared/links"
