.device-single-card
  .e-card
    %h1.h2
      = t('devise.confirmations.show.account_activation')
      = resource.email ? " (#{resource.email})" : ""
    .e-card__main
      = simple_form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'patch', class: 'devise-form'}, :id => 'activation-form' do |f|
        %fieldset
          %legend
            - if resource.try(:full_name)
              = t('devise.confirmations.show.for')
              = resource.full_name
          - if @requires_password
            .form-inputs
              .input.form-group.row
                .col-md-3
                  = f.label :password, t('devise.confirmations.show.choose_a_password')
                .col-md-9
                  .password-field
                    = f.password_field :password
                .hint=t('devise.shared.password_hint')
                  
                  
              .input.form-group.row
                .col-md-3
                  = f.label :password_confirmation, t('devise.confirmations.show.password_confirmation')
                .col-md-9
                  .password-field
                    = f.password_field :password_confirmation
          = hidden_field_tag :confirmation_token, @confirmation_token


          .form-actions
            = f.button :submit, t('devise.confirmations.show.activate')
