- content_for :breadcrumb do
  = render 'shared/breadcrumb', name: :edit_user_registration

%h1= t(".title", resource: resource_class.model_name.human)
= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { method: :patch, class: 'devise-form' }) do |f|
  = render "shared/error_messages", f: f

  .form-inputs
    %fieldset
      %legend= t(".personal_details")
      = f.input :first_name
      = f.input :last_name
      = f.input :job_title
      = f.input :organization
      = f.input :phone
      = f.input :fax
    %fieldset
      %legend= t(".login_information")
      = f.input :email, required: true, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          = t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email)
      - if can? :update, resource, :password 
        = f.input :password, autocomplete: "off", hint: t(".leave_blank_if_you_don_t_want_to_change_it"), required: false do
          .password-field
            = f.input_field :password
            %span.fa.fa-fw.fa-eye.field-icon.toggle-password{:toggle => "#user_password"}
          .password-strength{'data-value': '0'}
          %p#password-strength-text
        = f.input :password_confirmation, required: false do
          .password-field
            = f.input_field :password_confirmation
            %span.fa.fa-fw.fa-eye.field-icon.toggle-password{:toggle => "#user_password_confirmation"}
      =# f.input :identity_url, hint: t("activerecord.attributes.user.identity_url_instructions")
    %fieldset
      %legend= t("2fa_authentication")
      = f.input :otp_required_for_login, as: :radio_buttons
      .depends-on{"data-name" => "#{f.object_name}[otp_required_for_login]", "data-value" => 'true'}
        - if f.object.otp_secret
          = f.input :qr_code, hint: t("activerecord.attributes.user.qr_code_instructions_2") do
            = @qr.as_svg(module_size: 4).html_safe
          = message type: "warning" do
            %p= t("otp_backup_codes_instructions")
          = link_to(t('generate_otp_backup_codes'), generate_otp_backup_codes_user_registration_path, method: :put, class: 'button')
        - else
          = message type: "help" do
            %p= t("activerecord.attributes.user.qr_code_instructions_1")

    = render "devise/shared/preferences", f: f

    %fieldset.user-save
      %legend= t(".confirm_your_changes")
      = f.input :current_password, hint: t(".we_need_your_current_password_to_confirm_your_changes"), required: true do
        .password-field
          = f.input_field :current_password
          %span.fa.fa-fw.fa-eye.field-icon.toggle-password{:toggle => "#user_current_password"}
      .my-3      
        = f.button :submit, t(".update"), title: t(".we_need_your_current_password_to_confirm_your_changes"), disabled: 'disabled'
