.device-single-card
  .e-card
    %h1.h2= t(".resend_unlock_instructions")
    .e-card__main
      = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'devise-form' }) do |f|
        - if f.object.errors.present?
          .error_notification_wrapper
            = f.error_notification
            = f.full_error :unlock_token

        .form-inputs
          = f.input :email, required: true, autofocus: true
        .form-actions
          = f.button :submit, t(".resend_unlock_instructions")
      = render "devise/shared/links"
