.device-single-card
  .e-card
    %h1.h2= t(".change_your_password")
    .e-card__main
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'devise-form' }) do |f|
        = f.input :reset_password_token, as: :hidden
        .form-inputs
          
          = f.input :password, required: true, label: t(".new_password"), autofocus: true, hint: t('devise.shared.password_hint') do
            .password-field
              = f.input_field :password, required: false
              %span.fa.fa-fw.fa-eye.field-icon.toggle-password{:toggle => "#user_password"}

          = f.input :password_confirmation, label: t(".confirm_new_password"), required: true do
            .password-field
              = f.input_field :password_confirmation, required: true
              %span.fa.fa-fw.fa-eye.field-icon.toggle-password{:toggle => "#user_password_confirmation"}

        .form-actions
          = f.button :submit, t(".change_my_password")
      = render "devise/shared/links"
