%h1= t(".sign_in")
- if devise_mapping.registerable? && controller_name != 'registrations'
  .mb-3
    = t(".not_yet_registered")
    %span.ml-3
      = link_to t("devise.shared.links.sign_up"), new_registration_path(resource_name)
.row.align-items-start
  .col-lg-6
    .e-card__main
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'devise-form'}) do |f|
        = flash[:alert]
        .form-inputs
          = f.input :email, required: false, autofocus: true
          = f.input :password, required: false do
            .password-field
              = f.input_field :password, required: false
              %span.fa.fa-fw.fa-eye.field-icon.toggle-password{:toggle => "#user_password"}
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?    
        .form-actions.form-actions--login
          = f.button :submit, t(".sign_in")
         
      = render "devise/shared/links"


