$c-blue: #32639C
$c-blue-l: #4580ce
$c-orange: #da7220

div.dataTables_wrapper
  max-width: 100%
  overflow: auto
  > .row
    margin-top: 100px
  div.dataTables_length select
    width: 70px
  div.dataTables_paginate ul.pagination
    font-size: 13px
  .dataTables_entries,
  .dataTables_paginate
    margin-top: 20px
.dataTables_buttons
  text-align: left
  .btn-link
    display: none
  .buttons-csv
    display: inline-block
    color: $c-orange
    font-weight: 700

table.dataTable
  font-size: 13px
  thead > tr > th
    background-color: $c-blue
    color: #fff
    font-weight: 400
    font-size: 14px
    border-right: 1px solid #fff
    position: relative
    width: 30px
    height: 20px
    &:last-child
      min-width: 120px
    &.sorting
      padding-right: 20px
    &.sorting,
    &.sorting_asc,
    &.sorting_desc
      background-position: 50%
  td
    vertical-align: top
  tr:nth-child(odd)
    td
      // background: #f9f9f9
  span
    position: absolute
    bottom: 100%
    left: 20px
    padding-right: 1rem
    transform: rotate( -45deg)
    display: block
    color: $c-blue
    transform-origin: 0
  .col-created_at,
  .col-hospital-full_name,
  .col-updated_at
    span
      transform: none
      left: 10px
      bottom: calc(100% + 10px)
  .col-updated_at
    span
      left: 30px
  > tbody
    line-height: 16px
    > tr.child ul.dtr-details
      display: flex
      flex-wrap: wrap
      max-width: 100%
      background: #f9f9f9
      padding: 15px
      border-radius: 4px
      margin: 0 -0.75rem
      > li:hover
        background: transparent
      > li
        display: flex
        padding: 0.5em 0
        margin-right: 30px
        &:first-child
          padding: 0.5em 0
        span
          display: block
        span.dtr-title
          min-width: auto
          margin-right: 10px
        span.dtr-data 
          white-space: normal
          overflow-wrap: break-word


  &.dtr-inline.collapsed:not(.reordering) > tbody > tr[role="row"]
    > td:first-child:before,
    > th:first-child:before
      top: 15px

  &.dtr-inline.collapsed > tbody > tr[role="row"]
    > td:first-child,
    > th:first-child
      padding-left: 40px

  &.table-hover tbody tr:hover
    background: rgba(0, 0, 0, 0.035) 
    

.dataTables_info
  margin-right: 30px

@media screen and (max-width: 997px)
  .dataTables_info
    width: 100%
    margin: 10px 0 0
  div.dataTables_wrapper div.dataTables_length
    margin: 20px 0
  div.dataTables_wrapper div.dataTables_paginate ul.pagination
    justify-content: center