  
$c-blue: #32639C
$c-blue-l: #4580ce
.l-header
  position: fixed
  top: 0
  z-index: 10
  width: 100%
  height: 65px
  background: $c-blue
  box-shadow: 0 3px 10px #999
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 0 20px
  font-size: 15px
  color: #fff
  p
    width: 100%
    margin: 0
    padding: 10px 0
    text-transform: uppercase
  nav
    i
      color: #A4E8FF
      margin-right: 5px
  ul
    list-style: none
    padding: 0
    margin: 0
  li
    padding: 0 15px
  a
    color: #fff
.logo
  display: block
  width: 200px
  height: 50px
  background: #fff image-url("logo.png") no-repeat 50% 50% !important
  background-size: auto 70% !important



@media screen and (max-width: 997px)
  .l-header
    nav
      position: fixed
      top: 65px
      left: 0
      bottom: 0
      transform: translateX(-100%)
      background: $c-blue
      padding: 0 15px
      box-shadow: 5px 15px 15px #999
      opacity: 0
      transition: transform 0.3s, opacity 0.3s
    .fa-bars
      margin: 0 15px 0 0
      font-size: 20px
    li
      padding: 15px 0
      border-top: 1px solid #fff
      &:first-child
        border: 0
  .nav-mobile-open
    .l-header
      nav
        transform: translateX(0)
        opacity: 1

@media screen and (min-width: 998px)
  .l-header
    height: 50px
    flex-direction: row
    .fa-bars
      display: none
    ul
      height: 50px
      display: flex
      justify-content: flex-start
      align-items: center
    p
      width: auto
      height: 50px
      line-height: 50px
      padding: 0