
$c-blue: #32639C
$c-blue-l: #4580ce
$c-orange: #da7220

.profiler-results
  display: none !important
body
  font: 16px/22px 'Muli', sans-serif

a
  color: $c-orange

.btn-primary, [class="btn"],
.page-item.active .page-link
  background-color: $c-orange
  border-color: $c-orange
.btn-outline-primary
  border-color: $c-orange
  color: $c-orange

h1
  margin-bottom: 30px
  font-size: 30px
  font-weight: 700
  color: #424242
  span
    font-size: 24px

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
  -webkit-box-shadow: 0 0 0 30px white inset

footer
  padding: 5px
  background: $c-blue
  text-align: center
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  z-index: 1000
  a
    color: #fff
    &:hover
      color: #fff
      text-decoration: underline

main
  position: relative
  z-index: 9
  margin: 0 0 30px
  padding: 90px 20px 20px
  background: #fff


.text-center
  text-align: center

.edit_daily_report,
.new_daily_report
  .row
    margin-bottom: 20px
    &.mb
      margin-bottom: 50px
  .form-group
    position: relative
    display: flex
    flex-direction: column
    margin: 0
    height: 100%
    justify-content: space-between
    .text-muted
      position: absolute
      top: 100%
      left: 0
  .align-items-center
    align-items: flex-end !important
  .form-row
    background: #f0f6fd
    margin-bottom: 30px
    padding: 20px 10px 10px
    border-radius: 8px
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15)
    > [class*="col-"]
      padding-left: 15px
      padding-right: 15px
  label
    color: $c-blue
    text-transform: uppercase
    font-size: 12px
    font-weight: 700
  #filters_full_text_search
    width: 500px
  .clear
    flex-basis: 100%



[class*="dailly_report"]
  margin-bottom: 30px
  padding: 0 20px 30px 30px
  // border-bottom: 1px solid #ccc
  > br
    display: none
  strong
    display: block
    background: #f0f6fd
    padding: 10px
    margin: 0 0 20px -30px
    text-transform: uppercase
    // border-top: 1px solid $c-blue
    // border-bottom: 1px solid $c-blue
    color: $c-blue

.select2
  width:100%!important


.show_for.daily_report
  > div
    display: flex
    margin-bottom: 15px
    padding-bottom: 15px
    border-bottom: 1px solid #ccc
    strong
      margin-right: 10px
      
      &:after
        content: ':'
    br
      display: none

.ria_covid
  p:empty
    display: none
.ria_covid__actions
  list-style: none
  padding: 0
  li
    display: flex
    margin: 0 0 15px
  i
    margin: 5px 10px 0 0
    color: $c-orange
  
.login
  max-width: 400px
  margin: 0 auto


.datepicker td, .datepicker th
  font-size: 13px

.select2-container
  min-width: 200px
.select2-container--bootstrap .select2-selection--single,
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,
  min-height: 38px
  height: 38px
.select2-container--bootstrap .select2-selection--single
  line-height: 26px

@media screen and (min-width: 998px)
  main
    margin: 0 15px 30px
  .ria_covid__actions
    display: flex
    li
      margin-right: 30px
      margin: 0 30px 0 0