$gutterList: 0 5 10 15 20 25 30
@each $marginNum in $gutterList
  .m-#{$marginNum}
    margin: #{$marginNum}px !important
  .mt-#{$marginNum}
    margin-top: #{$marginNum}px !important
  .mb-#{$marginNum}
    margin-bottom: #{$marginNum}px !important
  .ml-#{$marginNum}
    margin-left: #{$marginNum}px !important
  .mr-#{$marginNum}
    margin-right: #{$marginNum}px !important
  .mx-#{$marginNum}
    margin-right: #{$marginNum}px !important
    margin-left: #{$marginNum}px !important
  .my-#{$marginNum}
    margin-top: #{$marginNum}px !important
    margin-bottom: #{$marginNum}px !important

@each $paddingNum in $gutterList
  .p-#{$paddingNum}
    padding: #{$paddingNum}px !important
  .pt-#{$paddingNum}
    padding-top: #{$paddingNum}px !important
  .pb-#{$paddingNum}
    padding-bottom: #{$paddingNum}px !important
  .pl-#{$paddingNum}
    padding-left: #{$paddingNum}px !important
  .pr-#{$paddingNum}
    padding-right: #{$paddingNum}px !important
  .px-#{$paddingNum}
    padding-right: #{$paddingNum}px !important
    padding-left: #{$paddingNum}px !important
  .py-#{$paddingNum}
    padding-top: #{$paddingNum}px !important
    padding-bottom: #{$paddingNum}px !important