%p= t('devise.mailer.confirmation_instructions.instruction')
%p= link_to t('devise.mailer.confirmation_instructions.action'), confirmation_url(@resource, confirmation_token: @token)
%p= t('devise.mailer.tips.plaintext_url')
%p= confirmation_url(@resource, confirmation_token: @token)

