%h1{style: 'font-size: 20px; margin-bottom: 10px;'}= t('devise.mailer.confirmation_instructions.greeting', recipient: @resource.email)
%p{style: 'font-style: italic; margin: 0 0 2rem;'}= t('devise.mailer.presentations')
%p= t('devise.mailer.reset_password_instructions.instruction')
%p= link_to t('devise.mailer.reset_password_instructions.action'), edit_password_url(@resource, reset_password_token: @token)
%p= t('devise.mailer.tips.plaintext_url')
%p= edit_password_url(@resource, reset_password_token: @token)
%p= t('devise.mailer.reset_password_instructions.instruction_2')
%p= t('devise.mailer.reset_password_instructions.instruction_3')