%h1{style: 'font-size: 20px; margin-bottom: 10px;'}= t('devise.mailer.confirmation_instructions.greeting', recipient: @resource.full_name)
%p{style: 'font-style: italic; margin: 0 0 2rem;'}= t('devise.mailer.presentations')
%p= t('devise.mailer.unlock_instructions.message')
%p= t('devise.mailer.unlock_instructions.instruction')
%p= link_to t('devise.mailer.unlock_instructions.action'), unlock_url(@resource, unlock_token: @token)
