
= simple_form_for(@daily_report) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    .row.mb
      .col-md-6
        = f.association :hospital, label_method: 'full_name', collection: current_user.hospitals.order("city, name"), include_blank: current_user.hospitals.count > 1
    .row.mb
      .col-md-6
        = f.input :report_date, value: I18n.l(Time.now.to_date)
    .row
      -# .col-md-3
        =# f.input :posti_letto_totali calcolato
      .col-md-3  
        = f.input :posti_letto_covid_attivati
      .col-md-3
        = f.input :posti_letto_covid_occupati
      .col-md-3
        = f.input :posti_letto_covid_occupati_vaccinati  
      -# .col-md-3
        =# f.input :posti_letto_covid_disponibili. calcolato

    .row
      .col-md-3  
        = f.input :ricoveri_covid_24h
      .col-md-3  
        = f.input :ricoveri_covid_24h_vaccinati  
      .col-md-3  
        = f.input :trasferimenti_dimissioni_covid_24h
      .col-md-3  
        = f.input :decessi_covid_24h
    .row
      .col-md-3  
        = f.input :posti_letto_no_covid_attivati
      .col-md-3  
        = f.input :posti_letto_no_covid_occupati
      -# .col-md-3
        =# f.input :posti_letto_no_covid_disponibili #calcolato

      .col-md-3
    .row  
      .col-md-3 
        = f.input :ricoveri_no_covid_24h
      .col-md-3  
        = f.input :trasferimenti_dimissioni_no_covid_24h
      .col-md-3  
        = f.input :decessi_no_covid_24h
  .form-actions
    = f.button :submit, method: :put
    - unless @daily_report.new_record?
      = link_to 'Cancella il record', daily_report_path(@daily_report), class: "btn btn-primary", data: {turbolinks: false, confirm: "Sei sicuro di voler cancellare il record?" }, :method => :delete