<h1>Modifica <%= @daily_report.class.model_name.human %> - <span><%= @daily_report.date%></span></h1>

<%= render 'form', daily_report: @daily_report %>

<div class="mt-20">
  <%= link_to 'Visualizza', @daily_report %> |
  <%= link_to "Torna all'elenco", daily_reports_path %>
</div>
