:javascript
  function datePickerForReport(type, with_summary= false) {
    var options = {
      autoclose: true,
      language: 'it',
      format: 'yyyy-mm-dd',
      todayBtn: 'linked',
      clearBtn: true,
      todayHighlight: true
    };
    dp = $('.'+type).datepicker(options);
    dp.datepicker('show');
    
    dp.on('hide', function(e) {
      params_string = 'format=xlsx&filter=daily&with_summary='+with_summary+'&report_date='+e.date
      if(e.date == undefined) {
        return;
      }
      else {
        window.location.href = '/downloads?'+params_string
      }
      
    });

  } 


.ria_covid
  %p#notice= notice
  

  %ul.ria_covid__actions
    %li
      %i.fas.fa-download
      =link_to 'Scarica i dati giornalieri', '#' , {class: 'daily_data'}
    %li
      %i.fas.fa-download
      =link_to 'Scarica il report giornaliero','#' , {class: 'daily_report'}
    %li
      %i.fas.fa-download
      = link_to 'Scarica i dati settimanali', downloads_path(format: :xlsx, filter:'weekly')  
    %li
      %i.fas.fa-download
      = link_to 'Scarica tutto', downloads_path(format: :xlsx, filter:'all')
    - if current_user && current_user.write_access
      %li
        %i.fas.fa-plus-circle
        = link_to 'Nuovo Report giornaliero', new_daily_report_path
  
  = render_datatable(@daily_reports, input_js: { responsive: false, "oLanguage": { "sUrl": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Italian.json"}})
  
