<p id="notice"><%= notice %></p>
<p class="mb-30">
<%= link_to 'Modifica', edit_daily_report_path(@daily_report) %> |
<%= link_to "Vai all'elenco", daily_reports_path %>
</p>

<%= show_for @daily_report do |daily_report| %>

  <%= daily_report.association :hospital %>
  <%= daily_report.attribute :posti_letto_totali %>
  <%= daily_report.attribute :posti_letto_covid_attivati %>
  <%= daily_report.attribute :posti_letto_covid_occupati %>
  <%= daily_report.attribute :posti_letto_covid_disponibili %>
  <%= daily_report.attribute :occupazione_posti_letto_covid %>
  <%= daily_report.attribute :ricoveri_covid_24h %>
  <%= daily_report.attribute :trasferimenti_dimissioni_covid_24h %>
  <%= daily_report.attribute :decessi_covid_24h %>
  <%= daily_report.attribute :posti_letto_no_covid_attivati %>
  <%= daily_report.attribute :posti_letto_no_covid_occupati %>
  <%= daily_report.attribute :posti_letto_no_covid_disponibili %>
  <%= daily_report.attribute :occupazione_posti_letto_no_covid %>
  <%= daily_report.attribute :ricoveri_no_covid_24h %>
  <%= daily_report.attribute :trasferimenti_dimissioni_no_covid_24h %>
  <%= daily_report.attribute :decessi_no_covid_24h %>

<% end %>

<div class="my-30">
  <%= link_to 'Modifica', edit_daily_report_path(@daily_report) %> |
  <%= link_to "Vai all'elenco", daily_reports_path %>
</div>
