!!!
%html
  %head
    %title IMPEGNO GIORNALIERO RIA REGIONE PIEMONTE
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: 'initial-scale=1.0,user-scalable=no,maximum-scale=3,width=device-width', name: 'viewport'}
    %script{src:'https://polyfill.io/v3/polyfill.min.js'}
    %link{href:"//fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,700,700i,800,900", rel:"stylesheet"}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/solid.css" integrity="sha384-yo370P8tRI3EbMVcDU+ziwsS/s62yNv3tgdMqDSsRSILohhnOrDNl142Df8wuHA+" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/fontawesome.css" integrity="sha384-ijEtygNrZDKunAWYDdV3wAZWvTHSrGhdUfImfngIba35nhQ03lSNgfTJAKaGFjk2" crossorigin="anonymous">
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'


  %body
    %header.l-header
      -# %a.logo{href: '/'}
      %i.fas.fa-bars
      %p 
        %span  IMPEGNO GIORNALIERO RIA REGIONE PIEMONTE
      - if current_user
        %nav
          %ul
            %li
              %i.fas.fa-list
              =link_to "Elenco", daily_reports_path
            - if current_user.write_access  
              %li
                %i.fas.fa-plus-circle
                = link_to "Inserimento", '/' 
            %li
              %i.fas.fa-sign-out-alt
              = link_to "Esci", destroy_user_session_path, :method => :delete
    %main

      = yield
    %footer
    